<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='icono.png') }}" type="image/png">
    <style>
        h1{
            color: blue;
            
        }
        #btnmuestra{
            position: absolute;
            margin-top: 25px;
            right:25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row mb-3 text-center"  style="margin-top: 5%;">
                    <h1>ADMINISTRACIÓN</h1>
                    
                </div>
                <hr>
                <br>
                <form action="/insertar" method="post">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="exampleFormControlInput1" class="form-label">Título</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título" maxlength="40" required>
                            <label for="exampleFormControlInput1" class="form-label">Entrada</label>
                            <input type="text" class="form-control" id="entrada" name="entrada" placeholder="Entrada" maxlength="116" reqSuired>
                            <label for="exampleFormControlInput1" class="form-label">Texto</label>
                            <textarea type="text" class="form-control" id="texto" name="texto" rows="3" placeholder="Texto" required></textarea>
                            <label for="exampleFormControlInput1" class="form-label">URL Imagen</label>
                            <input type="text" class="form-control" id="urlimagen" name="urlimagen" placeholder="URL Imagen" required>
                        </div> 
                    </div>  
                    <div class="row mb-3">
                        <div class="col-8" ></div>
                        <div class="col-2" >
                            <button type="submit" class="btn btn-primary">INSERTAR</button>
                        </div>
                        <div class="col-2">
                            <button type="" class="btn btn-danger">BORRAR</button>
                        </div>
                    </div>
                </form>
                <br>
                <hr>
                <br>
                <div class="container text-center">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-success">
                                {{messages[0]}}
                            </div>
                        {% endif %}
                    {% endwith %}
                
                </div>
                <div class="container text-center">
                    <h2>Nombres de Campos:</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                {% for campo in campos %}
                                    <th scope="col"><button type="button" class="btn btn-dark">{{ campo }}</button></th>
                                {% endfor %}
                            </tr>
                        </thead>
                    </table>
                </div>
                
            </div>
            <div class="col-2">
                <a href="{{url_for('muestra')}}"><button type="button" class="btn btn-info" id="btnmuestra">Muestra</button></a>
            </div>
        </div>
    </div>
    
</body>
</html>